---
---

@import "{{ site.theme }}";

@font-face {
  font-family: DJBMonkeyScratches;
  src: url('/fonts/fonts/DJBMonkeyScratches.ttf');
  font-weight: normal;
  font-style: normal;
}

h1{
  color: #ced8e8; /* greyish */
  font-size: 72pt;
  font-familty: DJBMonkeyScratches;

body {
	font-family: 'Muli', sans-serif;
	font-size: 48px;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.875;
	margin: 0;
}
