---
---
<!DOCTYPE html>
<html>
<link href="{{ "/css/style.css" | relative_url }}" rel="stylesheet">
<style>
.mySlides {display:none;}
html {overflow:hidden;}
</style>
<body>
<body background = "https://orig00.deviantart.net/3240/f/2015/140/2/c/chalkboard_by_lorelinde-d8u2l4g.jpg">

//1
  <div class="mySlides">
     <center><h1>Events</h1></center>
      <table style="width:100%">  
      <tr>
        <td><h2>Date</h2></td>
        <td><h2>Time</h2></td><td></td>
        <td><h2>Event</h2></td>
        <td><h2>Description</h2></td>
        <td><h2>Cover</h2></td>
     </tr>
    {% for event in site.data.events %}
     <tr>
    <td><h3>{{event.Date}}</h3></td>
    <td><h3>{{event.Time}}</h3></td><td></td>
    <td><h3>{{event.Event}}</h3></td>
    <td><h3>{{event.Description}}</h3></td>
    <td><h3>{{event.Cover}}</h3></td>
     </tr>
      
    {% endfor %}
    </table>
  </div>
	
//2
  <div class="mySlides" style="overflow:hidden;">
    <center><h1>On Tap Today</h1></center>
  <br><br>  
  <table style="width:100%">
  <tr>
  <td><h2>Name</h2></td>
  <td><h2>Description</h2></td>
  <td><h2>ABV</h2></td>
  <td><h2>Price</h2></td>
  </tr>
    {% for beers in site.data.beers %}
    <tr>
    <td><h2>{{beers.Name}}</td></h2>
    <td><h3>{{beers.Description}}</td></h3>
    <td><h3>{{beers.ABV}}%</td></h3>
    <td><h3>${{beers.Price}}</td></h3>
    </tr>
    {% endfor %}
    </table>
  </div>

//3
<div class="mySlides">
  <center><h1>Breads</h1></center>
  <br><br>
  <center> 
  <table> 
     <tr>
        <td><h2>Day</h2></td>
        <td><h2>Items</h2></td>
     </tr>
     {% for Breads in site.data.Breads %}
     <tr>     
	  <td><h3>{{Breads.Day}}</h3></td>     
	     <td><h3>{{Breads.Special1}}</h3></td>
     {% endfor %}
     </tr>
  </table>
  </center>
  <br><br><br>
  <center><h3 style="color: #42cbf4;">Look for additional Specialty items daily!</h3></center>
</div>

//4
<div class="mySlides">
  <center><h1>Pastries</h1></center>
   <br><br>
   <table  style="width:100%"> 
     <tr>
        <td><h2>Day</h2></td>
        <td><h2>Special Pastries</h2></td>
        <td><h2>Also Baked</h2></td>
     </tr>
     {% for Pastry in site.data.Pastry %}
     <tr>     
      <td><h3>{{Pastry.Day}}</h3></td>     
      <td><h3>{{Pastry.Description}}</h3></td>
      <td><h3>{{Pastry.Extra}}</h3></td>
     </tr>
     {% endfor %}  
  </table>
  <br><br><br>
  <center>
  <h3 style="color: #42cbf4;">
  Look for additional speciality items such as: Pies, Cakes, Pana Cotta, Whoopie Pies, Brownies, Mousse, Hand Pies, and Tarts daily!
  <br>
  Special orders are availale with a 48 hour notice and pre-payment. We offer breads, pastry and whole pies.
  </h3>
</div>
	
//5
<div class="mySlides">
	<center><h1>Specials: {{curDate}}</h1></center>
  <center><h2> Happy Hour: </h2>
  <h3>Monday - Thursday.<br> $1 off Mojitos, Margaritas, Long Islands and THE Dirty Palmer</h3></center>
  <br><br>
	<table style="width:100%">  
      <tr>
        <td><h2>Day</h2></td>
        <td><h2>Special</h2></td>
        <td><h2>Description</h2></td>
        <td><h2>Price</h2></td>
     </tr>
     {% for Specials in site.data.Specials %}
     <tr>
   	<td><h3>{{Specials.Day}}</h3></td>
	<td><h3>{{Specials.Description}}</h3></td>
	<td><h3>{{Specials.Extra}}</h3></td>
	<td><h3>{{Specials.Price}}</h3></td>
     {% endfor %}
     </tr>
  </table>	
</div> 

<script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    if (slideIndex==1){setTimeout(carousel, 2000); }
    else if (slideIndex==2){setTimeout(carousel, 2000); }
    else if (slideIndex==3){setTimeout(carousel, 2000); }
    else if (slideIndex==4){setTimeout(carousel, 2000); }
    else if (slideIndex==5){setTimeout(carousel, 2000); }
    else {setTimeout(carousel, 5000); }
}
</script>

</body>
</html>
