---
---

<!DOCTYPE html>
<html>
  <link href="{{ "/css/style.css" | relative_url }}" rel="stylesheet">
<body>
 <body background = "https://orig00.deviantart.net/3240/f/2015/140/2/c/chalkboard_by_lorelinde-d8u2l4g.jpg">
  
  
{% assign curDate = site.time | date: '%A' %}
	 
  <center><h1>Specials: {{curDate}}</h1></center>
  <center><h3 style = "color:White;"> Happy Hour: <br>
  <h3 style = "color:White;">Monday - Thursday.<br> $1 off Mojitos, Margaritas, Long Islands and THE Dirty Palmer</h3></center>
  
  <!--
  <table style="width:100%">
  {% for special in site.data.specials %}
    <tr>
   {% if curDate  == special.Day %}
    <td><h2>{{special.Specials}}</h2></td>
    <td><h3>{{special.Descriptions}}</h3></td>
    <td><h3>{{special.Price}}</h3></td>
    {% endif %}
    </tr>
  {% endfor %}
  </table>  -->
     
	    
    <table style="width:100%">  
      <tr>
        <td><h2>Day</h2></td>
        <td><h2>Description</h2></td>
        <td><h2>Extra Information</h2></td>
        <td><h2>Price</h2></td>
     </tr>
     {% for Specials in site.data.Specials %}
     <tr>
   	<td><h3>{{Specials.Day}}</h3></td>
	<td><h3>{{Specials.Description}}</h3></td>
	<td><h3>{{Specials.Extra}}</h3></td>
	<td><h3>{{Specials.Price}}</h3></td>
     {% endfor %}
     </tr>
  </table>
  
</body>
</html>
