---
---

<!DOCTYPE html>
<html>
  <link href="{{ "/css/style.css" | relative_url }}" rel="stylesheet">
<body>
 <body background = "https://orig00.deviantart.net/3240/f/2015/140/2/c/chalkboard_by_lorelinde-d8u2l4g.jpg">
  
  {% assign curDate = site.time | date: '%A' %} 
 <html>
	<head>
		<script>
		function today()
		{
			var day = new Date();
			var dayNames = new Array ("Sunday", "Monday", "Tuesday", "Wednesday", 
							"Thursday", "Friday", "Saturday");
			var x = document.getElementById("myDay");
			x.innerHTML = dayNames[day.getDay()];
		}
		</script>
	</head>
y>
</html> }
   
   
   <h1> Daily Specials: {{curDate}}</h1>
  <center><h3 style = "color:White;"> Happy Hour: <br>
  <h3 style = "color:White;">Monday - Thursday.<br> $1 off Mojitos, Margaritas, Long Islands and THE Dirty Palmer"</h3></center>
  
  
  <table style="width:100%">
  {% for special in site.data.specials %}
    <tr>
    {% if (onload = "today()"  == special.Day %}
    <td><h2>{{special.Specials}}</h2></td>
    <td><h3>{{special.Descriptions}}</h3></td>
    <td><h3>{{special.Price}}</h3></td>
    {% endif %}
    </tr>
  {% endfor %}
  </table>
  
  
  
</body>
</html>
